[IMDB]
Custom Fields=alttitle,imdb,imdb-rating,origtitle

[IMDB FR]
Custom Fields=alttitle,imdb
Lang=1
Host=www.imdb.fr

[IMDB ES]
Custom Fields=alttitle,imdb
Lang=2
Host=www.imdb.es

[IMDB Okunen]
Custom Fields=alttitle,imdb-rating

[AnimeNfo.com]
Custom Fields=alttitle,episodes,origtitle,distributor,animenfo,animenfo-rating

[TMDB FR]
Locale=fr

[GCstar Video]
CollectionType=3
Plugin=Amazon (US)

[ExportOptions - Bibtex]
URL Package=true

[allocine]
Custom Fields=origtitle,allocine
Max Cast = 5

[GoogleBookTest]
API Key=

[vndb]
Custom Fields=origtitle,alias

[entrez]
Custom Fields=abstract

[bedetheque]
Custom Fields=isbn,lien-bel,colorist,comments

[crossref]
Email=robby@periapsis.org

[KB]
Format=dc
Host=jsru.kb.nl
Path=/sru/sru.pl
Port=80
QueryFields=x-collection,x-fields
QueryValues=GGC,ISBN

[Copac]
Format=mods
Host=copac.jisc.ac.uk
Path=/copac
Port=3000
Custom Fields=lcc

[kinopoisk]
Custom Fields=origtitle

[douban]
Custom Fields=douban,origtitle

[giantbomb]
Custom Fields=giantbomb,pegi

[comicvine]
Custom Fields=comicvine,colorist

[kinoteatr]
Custom Fields=origtitle,kinoteatr
