[AnimeNfo.com]
Custom Fields=alttitle,episodes,origtitle,distributor,animenfo,animenfo-rating

[Copac]
Custom Fields=lcc
Format=mods
Host=copac.jisc.ac.uk
Path=/copac
Port=3000

[ExportOptions - Bibtex]
URL Package=true

[GCstar Video]
CollectionType=3
Plugin=Amazon (US)

[GoogleBookTest]
API Key=

[IGDB]
Access Token=m5zkr2qf1gw7py9qgox53tmn7bqofa
Access Token Expires=2020,12,5,18,31,1
Custom Fields=igdb,pegi
Uuid={4384a123-1fdb-4f2b-9af5-87349d22bb01}

[IMDB]
Custom Fields=alttitle,imdb,imdb-rating,origtitle

[IMDB ES]
Custom Fields=alttitle,imdb
Host=www.imdb.es
Lang=2

[IMDB FR]
Custom Fields=alttitle,imdb
Host=www.imdb.fr
Lang=1

[IMDB Okunen]
Custom Fields=alttitle,imdb-rating

[KB]
Format=dc
Host=jsru.kb.nl
Path=/sru/sru.pl
Port=80
QueryFields=x-collection,x-fields
QueryValues=GGC,ISBN

[TMDB FR]
Locale=fr

[allocine]
Custom Fields=origtitle,allocine
Max Cast=5

[bedetheque]
Custom Fields=isbn,lien-bel,colorist,comments

[colnect]
Custom Fields=obverse,reverse,series,mintage,description

[colnect stamps]
Custom Fields=image,series,description,stanley-gibbons,michel

[comicvine]
Custom Fields=comicvine,colorist

[crossref]
Email=robby@periapsis.org

[douban]
Custom Fields=douban,origtitle

[entrez]
Custom Fields=abstract

[giantbomb]
Custom Fields=giantbomb,pegi

[kinopoisk]
Custom Fields=origtitle,kinopoisk

[kinoteatr]
Custom Fields=origtitle,kinoteatr

[numista]
Custom Fields=numista,description,obverse,reverse,km

[vndb]
Custom Fields=origtitle,alias
