# KDE Config File
[Desktop Entry]
Type=Application
Exec=bookcase -caption "%c" %i %m  
Icon=bookcase.png
MiniIcon=bookcase.png
DocPath=bookcase/index.html
Comment=A collection manager
Terminal=0
Name=Bookcase
GenericName=Collection Manager
MimeType=application/x-bookcase
