# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=bookcase -caption "%c" %i %m
Icon=bookcase.png
MiniIcon=bookcase.png
DocPath=bookcase/index.html
Comment=A collection manager
Comment[cs]=Správce sbírek
Terminal=0
Name=Bookcase
GenericName=Collection Manager
GenericName[cs]=Správce sbírek
MimeType=application/x-bookcase
