# KDE Config File
[Desktop Entry]
Version=1.0
Type=Application
Exec=tellico -qwindowtitle %c %u
Icon=tellico
X-DocPath=tellico/index.html
Comment=A collection manager
Comment[bg]=Управление на колекции
Comment[bs]=Menadžer kolekcija
Comment[ca]=Un gestor de col·leccions
Comment[ca@valencia]=Un gestor de col·leccions
Comment[cs]=Správce sbírek
Comment[da]=En Håndtering af samlinger
Comment[de]=Eine Sammlungsverwaltung
Comment[el]=Ένας διαχειριστής συλλογών
Comment[en_GB]=A collection manager
Comment[eo]=Mastrumilo de Kolektoj
Comment[es]=Gestor de colecciones
Comment[et]=Kogude haldur
Comment[eu]=Bilduma-kudeatzaile bat
Comment[fi]=Kokoelmienhallinta
Comment[fr]=Un gestionnaire de collections
Comment[ga]=Bainisteoir bailiúchán
Comment[gl]=Un xestor de coleccións.
Comment[he]=מנהל אוספים
Comment[hi]=एक संग्रह प्रबंधक
Comment[hu]=Gyűjteménykezelő
Comment[ia]=Un gerente de collection
Comment[it]=Un gestore di raccolte
Comment[ka]=კოლექციის მმართველი
Comment[kk]=Жинақтар менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង់​ការ​ប្រមូលផ្ដុំ
Comment[ko]=소장품 관리 도구
Comment[lt]=Kolekcijų tvarkyklė
Comment[lv]=Kolekciju pārvaldnieks
Comment[mr]=संग्रह व्यवस्थापक
Comment[ms]=Pengurus koleksi
Comment[nb]=En samlingsbehandler
Comment[nds]=En Sammelnpleger
Comment[nl]=Een collectiebeheerder
Comment[nn]=Ein samlingsdatabase
Comment[pl]=Zarządzanie zbiorami
Comment[pt]=Um gestor de colecções
Comment[pt_BR]=Um gerenciador de coleções
Comment[ro]=Un gestionar de colecții
Comment[ru]=Диспетчер коллекций
Comment[sa]=एकः संग्रहप्रबन्धकः
Comment[sk]=Správca zbierok
Comment[sl]=Upravljalnik zbirk
Comment[sv]=En samlingshanterare
Comment[tr]=Bir koleksiyon yöneticisi
Comment[ug]=توپلام باشقۇرۇش پروگراممىسى
Comment[uk]=Інструмент керування збірками
Comment[zh_CN]=收藏管理器
Comment[zh_TW]=收藏管理員
Terminal=false
Name=Tellico
Name[bg]=Tellico
Name[bs]=Tellico
Name[ca]=Tellico
Name[ca@valencia]=Tellico
Name[cs]=Tellico
Name[da]=Tellico
Name[de]=Tellico
Name[el]=Tellico
Name[en_GB]=Tellico
Name[eo]=Tellico
Name[es]=Tellico
Name[et]=Tellico
Name[eu]=Tellico
Name[fi]=Tellico
Name[fr]=Tellico
Name[ga]=Tellico
Name[gl]=Tellico
Name[he]=Tellico
Name[hi]=टेलिको
Name[hu]=Tellico
Name[ia]=Tellico
Name[it]=Tellico
Name[ka]=Tellico
Name[kk]=Tellico
Name[km]=Tellico
Name[ko]=Tellico
Name[lt]=Tellico
Name[lv]=Tellico
Name[mr]=टेलिको
Name[ms]=Tellico
Name[nb]=Tellico
Name[nds]=Tellico
Name[nl]=Tellico
Name[nn]=Tellico
Name[pl]=Tellico
Name[pt]=Tellico
Name[pt_BR]=Tellico
Name[ro]=Tellico
Name[ru]=Tellico
Name[sa]=टेलिको
Name[sk]=Tellico
Name[sl]=Tellico
Name[sv]=Tellico
Name[tr]=Tellico
Name[ug]=Tellico
Name[uk]=Tellico
Name[zh_CN]=Tellico
Name[zh_TW]=Tellico
GenericName=Collection Manager
GenericName[bg]=Управление на колекции
GenericName[bs]=Menadžer kolekcija
GenericName[ca]=Gestor de col·leccions
GenericName[ca@valencia]=Gestor de col·leccions
GenericName[cs]=Správce sbírek
GenericName[da]=Samlingshåndtering
GenericName[de]=Sammlungsverwaltung
GenericName[el]=Διαχειριστής συλλογών
GenericName[en_GB]=Collection Manager
GenericName[eo]=Mastrumilo de Kolektoj
GenericName[es]=Gestor de colecciones
GenericName[et]=Kogude haldur
GenericName[eu]=Bilduma-kudeatzailea
GenericName[fi]=Kokoelmienhallinta
GenericName[fr]=Gestionnaire de collections
GenericName[ga]=Bainisteoir Bailiúchán
GenericName[gl]=Xestor de coleccións
GenericName[he]=מנהל אוספים
GenericName[hi]=संग्रह प्रबंधक
GenericName[hu]=Gyűjteménykezelő
GenericName[ia]=Gerente de collection
GenericName[it]=Gestore di raccolte
GenericName[ka]=კოლექციის მმართველი
GenericName[kk]=Жинақтар менеджері
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ប្រមូល
GenericName[ko]=소장품 관리 도구
GenericName[lt]=Kolekcijų tvarkyklė
GenericName[lv]=Kolekciju pārvaldnieks
GenericName[mr]=संग्रह व्यवस्थापक
GenericName[ms]=Pengurus Koleksi
GenericName[nb]=Samlingsbehandler
GenericName[nds]=Sammelnpleger
GenericName[nl]=Collectiebeheer
GenericName[nn]=Samlingsdatabase
GenericName[pl]=Zarządzanie zbiorami
GenericName[pt]=Gestor da Colecção
GenericName[pt_BR]=Gerenciador de coleções
GenericName[ro]=Gestionar de colecții
GenericName[ru]=Диспетчер коллекций
GenericName[sa]=संग्रह प्रबन्धक
GenericName[sk]=Správca zbierok
GenericName[sl]=Upravljalnik zbirk
GenericName[sv]=Samlingshanterare
GenericName[tr]=Koleksiyon Yöneticisi
GenericName[uk]=Інструмент керування збірками
GenericName[zh_CN]=收藏管理器
GenericName[zh_TW]=收藏管理員
MimeType=application/x-tellico;
Categories=KDE;Qt;Office;Database;
