# KDE Config File
[Desktop Entry]
Version=1.0
Type=Application
Exec=tellico -caption "%c" %i %u
Icon=tellico
X-KDE-DocPath=tellico/index.html
Comment=A collection manager
Comment[et]=Kogude haldur
Comment[fr]=Un outil de gestion de collection
Comment[ga]=Bainisteoir bailiúchán
Comment[gl]=Un xestor de coleccións
Comment[nb]=En samlingsbehandler
Comment[nds]=En Sammeln-Pleger
Comment[pt]=Um gestor de colecções
Comment[pt_BR]=Um gerenciador de coleção
Comment[sv]=En samlingshanterare
Comment[uk]=Інструмент керування збірками
Comment[x-test]=xxA collection managerxx
Terminal=false
Name=Tellico
Name[x-test]=xxTellicoxx
GenericName=Collection Manager
GenericName[de]=Sammlungsverwaltung
GenericName[et]=Kogude haldur
GenericName[fr]=Gestion de collection
GenericName[ga]=Bainisteoir Bailiúchán
GenericName[gl]=Xestor de coleccións
GenericName[nb]=Samlingsbehandler
GenericName[nds]=Sammeln-Pleger
GenericName[pt]=Gestor de Colecções
GenericName[pt_BR]=Gerenciador de coleção
GenericName[sv]=Samlingshanterare
GenericName[uk]=Інструмент керування збірками
GenericName[x-test]=xxCollection Managerxx
MimeType=application/x-tellico;
Categories=KDE;Office;Database;
