# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=tellico -caption "%c" %i %m
Icon=tellico.png
MiniIcon=tellico.png
DocPath=tellico/index.html
Comment=A collection manager
Comment[ru]=Менеджер коллекций
Comment[cs]=Správce sbírek
Terminal=0
Name=Tellico
GenericName=Collection Manager
GenericName[cs]=Správce sbírek
GenericName[ru]=Менеджер коллекций
MimeType=application/x-tellico
Categories=KDE;Office;Database;
