# KDE Config File
[Desktop Entry]
Version=1.0
Type=Application
Exec=tellico -caption "%c" %i %u
Icon=tellico
X-KDE-DocPath=tellico/index.html
Comment=A collection manager
Comment[et]=Kogude haldur
Comment[fr]=Un outil de gestion des collections
Comment[pt]=Um gestor de colecções
Comment[pt_BR]=Um gerenciador de coleção
Comment[sv]=En samlingshanterare
Comment[tr]=Bir koleksiyon yöneticisi
Comment[uk]=Інструмент керування збірками
Comment[zh_TW]=收藏管理員
Terminal=false
Name=Tellico
GenericName=Collection Manager
GenericName[et]=Kogude haldur
GenericName[fr]=Outil de gestion des collections
GenericName[pt]=Gestor de Colecções
GenericName[pt_BR]=Gerenciador de coleção
GenericName[sv]=Samlingshanterare
GenericName[tr]=Koleksiyon Yönetici
GenericName[uk]=Інструмент керування збірками
GenericName[zh_TW]=收藏管理員
MimeType=application/x-tellico;
Categories=KDE;Office;Database;
