[Desktop Entry]
Encoding=UTF-8
Comment=Tellico Data File
Comment[pt]=Ficheiro de Dados do Tellico
Comment[pt_BR]=Ficheiro de Dados do Tellico
Comment[sv]=Tellico-datafil
Comment[tr]=Tellico Veri Dosyası
Comment[uk]=Файл даних Tellico
Comment[zh_TW]=Tellico 資料引擎
DefaultApp=tellico
Icon=application-x-tellico
MimeType=application/x-tellico;
Patterns=*.bc;*.tc;
Type=MimeType;
X-KDE-AutoEmbed=false
