[Desktop Entry]
Encoding=UTF-8
Comment=Tellico Data File
Comment[et]=Tellico andmefail
Comment[fr]=Fichier de donnée de Tellico
Comment[ga]=Comhad Sonraí Tellico
Comment[gl]=Ficheiro de datos de Tellico
Comment[nds]=Tellico-Datendatei
Comment[pt]=Ficheiro de Dados do Tellico
Comment[pt_BR]=Ficheiro de Dados do Tellico
Comment[sv]=Tellico-datafil
Comment[uk]=Файл даних Tellico
DefaultApp=tellico
Icon=application-x-tellico
MimeType=application/x-tellico
Patterns=*.bc;*.tc;
Type=MimeType;
X-KDE-AutoEmbed=false
