<?xml version="1.0"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="bookcase" version="2">
<MenuBar>
 <Menu name="settings">
  <Action name="toggle_collection_bar" append="show_merge"/>
 </Menu>
</MenuBar>
<ToolBar name="collectionToolBar">
  <text>Collection ToolBar</text>
  <Action name="change_unit_grouping_label"/>
  <Action name="change_unit_grouping"/>
</ToolBar>
</kpartgui>
